<clickhouse>
    <logger>
        <level>trace</level>
        <console>true</console>
    </logger>

    <http_port>8123</http_port>
    <tcp_port>9000</tcp_port>
    <listen_host>::</listen_host>
    <listen_host>0.0.0.0</listen_host>
    <users_config>/etc/clickhouse-server/user.xml</users_config>

    <users>
        <default>
            <password></password>
            <networks>
                <ip>::/0</ip>
                <ip>0.0.0.0/0</ip>
            </networks>
            <profile>default</profile>
            <quota>default</quota>
        </default>
    </users>

    <profiles>
        <default>
            <max_memory_usage>10000000000</max_memory_usage>
            <use_uncompressed_cache>1</use_uncompressed_cache>
            <load_balancing>random</load_balancing>
            <max_threads>4</max_threads>
            <log_queries>1</log_queries>  <!-- ✅ Правильное место для log_queries -->
        </default>
    </profiles>

    <!-- Включаем логирование запросов -->
    <query_log>
        <database>system</database>
        <table>query_log</table>
        <flush_interval_milliseconds>1000</flush_interval_milliseconds>
    </query_log>

    <query_thread_log>
        <database>system</database>
        <table>query_thread_log</table>
    </query_thread_log>

    <query_views_log>
        <database>system</database>
        <table>query_views_log</table>
    </query_views_log>
</clickhouse>